<%= include('includes/top.tmpl') %>

    <div class="main">

        <div class="footer__panel--suspects">

            <h3>What happened to the six</h3>

            <ul class="thumbnail__list">
                <li class="thumbnail__list__item">
                    <div class="thumbnail__list__item-media">
                        <img class="thumbnail__list__item-media__image" src="<%= pathStatic %>/<%= vocab_dir %>/img/320/saevar.jpg" />
                        <span class="thumbnail__list__item-media__caption">Saevar Ciesielski</span>
                    </div>
                    <p class="thumbnail__list__item-text">
                        Spent years trying to overturn his conviction. He moved to Copenhagen and ended up on the streets where he died in 2011 aged 56.
                    </p>
                </li>
                <li class="thumbnail__list__item">
                    <div class="thumbnail__list__item-media">
                        <img class="thumbnail__list__item-media__image" src="<%= pathStatic %>/<%= vocab_dir %>/img/320/erla.jpg" />
                        <span class="thumbnail__list__item-media__caption">Erla Bolladottir</span>
                    </div>
                    <p class="thumbnail__list__item-text">
                        Remained in Iceland with her daughter. She trained as a language teacher and now teaches Icelandic to newly arrived migrants.
                    </p>
                </li>
                <li class="thumbnail__list__item">
                    <div class="thumbnail__list__item-media">
                        <img class="thumbnail__list__item-media__image" src="<%= pathStatic %>/<%= vocab_dir %>/img/320/kristjan.jpg" />
                        <span class="thumbnail__list__item-media__caption">Kristjan Vidarsson</span>
                    </div>
                    <p class="thumbnail__list__item-text">
                        Married and had two children. He had a string of manual jobs. He now lives alone in Reykjavik and rarely talks about the case.
                    </p>
                </li>
                <li class="thumbnail__list__item">
                    <div class="thumbnail__list__item-media">
                        <img class="thumbnail__list__item-media__image" src="<%= pathStatic %>/<%= vocab_dir %>/img/320/tryggvi.jpg" />
                        <span class="thumbnail__list__item-media__caption">Tryggvi Leifsson</span>
                    </div>
                    <p class="thumbnail__list__item-text">
                        Became a decorator. He had three children, one of whom died in 2002. After developing cancer Tryggvi died in 2009 at the age of 58.
                    </p>
                </li>
                <li class="thumbnail__list__item">
                    <div class="thumbnail__list__item-media">
                        <img class="thumbnail__list__item-media__image" src="<%= pathStatic %>/<%= vocab_dir %>/img/320/albert.jpg" />
                        <span class="thumbnail__list__item-media__caption">Albert Skaftason</span>
                    </div>
                    <p class="thumbnail__list__item-text">
                        Settled down and has a stable family life. He works with disadvantaged children. He has never talked publicly about the case since his release.
                    </p>
                </li>
                <li class="thumbnail__list__item">
                    <div class="thumbnail__list__item-media">
                        <img class="thumbnail__list__item-media__image" src="<%= pathStatic %>/<%= vocab_dir %>/img/320/gudjon.jpg" />
                        <span class="thumbnail__list__item-media__caption">Gudjon Skarphedinsson</span>
                    </div>
                    <p class="thumbnail__list__item-text">
                        Moved to Denmark, where he married and started a family. He trained as a Lutheran minister and returned to Iceland. He recently retired.
                    </p>
                </li>
            </ul>
        </div>
    </div>

<%= include('includes/bottom.tmpl') %>